## Rubric

Instructions: DELETE this cell before you submit via a `git push` to your repo before deadline. This cell is for your reference only and is not needed in your report. 

Scoring: Out of 10 points

- Each Developing  => -2 pts
- Each Unsatisfactory/Missing => -4 pts
  - until the score is 

If students address the detailed feedback in a future checkpoint they will earn these points back


|                  | Unsatisfactory                                                                                                                                                                                                    | Developing                                                                                                                                                                                              | Proficient                                     | Excellent                                                                                                                              |
|------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|------------------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------|
| Data relevance   | Did not have data relevant to their question. Or the datasets don't work together because there is no way to line them up against each other. If there are multiple datasets, most of them have this trouble | Data was only tangentially relevant to the question or a bad proxy for the question. If there are multiple datasets, some of them may be irrelevant or can't be easily combined.                       | All data sources are relevant to the question. | Multiple data sources for each aspect of the project. It's clear how the data supports the needs of the project.                         |
| Data description | Dataset or its cleaning procedures are not described. If there are multiple datasets, most have this trouble                                                                                              | Data was not fully described. If there are multiple datasets, some of them are not fully described                                                                                                      | Data was fully described                       | The details of the data descriptions and perhaps some very basic EDA also make it clear how the data supports the needs of the project. |
| Data wrangling   | Did not obtain data. They did not clean/tidy the data they obtained.  If there are multiple datasets, most have this trouble                                                                                 | Data was partially cleaned or tidied. Perhaps you struggled to verify that the data was clean because they did not present it well. If there are multiple datasets, some have this trouble | The data is cleaned and tidied.                | The data is spotless and they used tools to visualize the data cleanliness and you were convinced at first glance                      |

# COGS 108 - Data Checkpoint

## Authors

Instructions: REPLACE the contents of this cell with your team list and their contributions. Note that this will change over the course of the checkpoints

This is a modified [CRediT taxonomy of contributions](https://credit.niso.org). For each group member please list how they contributed to this project using these terms:
> Analysis, Background research, Conceptualization, Data curation, Experimental investigation, Methodology, Project administration, Software, Visualization, Writing – original draft, Writing – review & editing

Example team list and credits:
- Dat Nguyen: Background research, Data curation, Software - Analysis
- Carolyn Crane: Background research, Methodology, Writing - review & editing - Analysis
- Kaitlin Lee: Background research, Project administration, Writing - review & editing - Analysis
- Son Tran: Background research, Conceptualization, Writing - original draft - Analysis
- Lexine Ragua: Project administration, Visualization, Writing - original draft - Analysis

## Research Question

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Background and Prior Work

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Hypothesis

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

### Data overview

Instructions: REPLACE the contents of this cell with descriptions of your actual datasets.

For each dataset include the following information
- Dataset #1
  - Dataset Name: "NYC Restaurants Data - Food Ordering and Delivery"
  - Link to the dataset: https://www.kaggle.com/datasets/ahsan81/food-ordering-and-delivery-app-dataset
  - Number of observations: 1898
  - Number of variables: 9 
  - Description of the variables most relevant to this project:

"cost_of_the_order" : The total cost of the food being delivered (delivery cost not included)<br>
"day_of_the_week" : When the order was placed; filtered between "Weekend" and "Weekday"<br>
"rating" : The rating given by the customers on a scale of 3-5<br>
"food_preparation" : Time (in minutes) it takes the restaurant to prepare the ordered food<br>
"delivery_time" :  Time (in minutes) it takes the delivery person to deliver the ordered food<br>
  - Descriptions of any shortcomings this dataset has with repsect to the project:

The "ratings" variable only documents data with a given rating between 3 and 5 and fails to differentiate any 1 and 2 star ratings. 39% of the data within the "ratings" column is also "Not given" meaning that we'll have to drop these null values to analyze the relevant information.

## Data

In [1]:
# Run this code every time when you're actively developing modules in .py files.  It's not needed if you aren't making modules
#
## this code is necessary for making sure that any modules we load are updated here 
## when their source code .py files are modified

# %load_ext autoreload
# %autoreload 2

In [2]:
# Setup code -- this only needs to be run once after cloning the repo!
# this code downloads the data from its source to the `data/00-raw/` directory
# if the data hasn't updated you don't need to do this again!

# if you don't already have these packages (you should!) uncomment this line
# %pip install requests tqdm

# import sys
# sys.path.append('./modules') # this tells python where to look for modules to import

# import get_data # this is where we get the function we need to download data

# replace the urls and filenames in this list with your actual datafiles
# yes you can use Google drive share links or whatever
# format is a list of dictionaries; 
# each dict has keys of 
#   'url' where the resource is located
#   'filename' for the local filename where it will be stored 
# datafiles = [
#     { 'url': 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/airline-safety/airline-safety.csv', 'filename':'airline-safety.csv'},
#     { 'url': 'https://raw.githubusercontent.com/fivethirtyeight/data/refs/heads/master/bad-drivers/bad-drivers.csv', 'filename':'bad-drivers.csv'}
# ]

# get_data.get_raw(datafiles,destination_directory='data/00-raw/')

### Dataset #1 

Instructions: 
1. Change the header from Dataset #1 to something more descriptive of the dataset
2. Write a few paragraphs about this dataset. Make sure to cover
   1. Describe the important metrics, what units they are in, and giv some sense of what they mean.  For example "Fasting blood glucose in units of mg glucose per deciliter of blood.  Normal values for healthy individuals range from 70 to 100 mg/dL.  Values 100-125 are prediabetic and values >125mg/dL indicate diabetes. Values <70 indicate hypoglycemia. Fasting idicates the patient hasn't eaten in the last 8 hours.  If blood glucose is >250 or <50 at any time (regardless of the time of last meal) the patient's life may be in immediate danger"
   2. If there are any major concerns with the dataset, describe them. For example "Dataset is composed of people who are serious enough about eating healthy that they voluntarily downloaded an app dedicated to tracking their eating patterns. This sample is likely biased because of that self-selection. These people own smartphones and may be healthier and may have more disposable income than the average person.  Those who voluntarily log conscientiously and for long amounts of time are also likely even more interested in health than those who download the app and only log a bit before getting tired of it"
3. Use the cell below to 
    1. load the dataset 
    2. make the dataset tidy or demonstrate that it was already tidy
    3. demonstrate the size of the dataset
    4. find out how much data is missing, where its missing, and if its missing at random or seems to have any systematic relationships in its missingness
    5. find and flag any outliers or suspicious entries
    6. clean the data or demonstrate that it was already clean.  You may choose how to deal with missingness (dropna of fillna... how='any' or 'all') and you should justify your choice in some way
    7. You will load raw data from `data/00-raw/`, you will (optionally) write intermediate stages of your work to `data/01-interim` and you will write the final fully wrangled version of your data to `data/02-processed`
4. Optionally you can also show some summary statistics for variables that you think are important to the project
5. Feel free to add more cells here if that's helpful for you

In [3]:
import pandas as pd
import numpy as np
food_orders = pd.read_csv('data/00-raw/food_order.csv')
food_orders.shape

(1898, 9)

In [4]:
# Dataset already clean current shape is 1898 x 9 but new one is the same
food_orders.head(5)

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24

In [5]:
food_orders.isnull().any().sum()

0

In [6]:
food_orders.dropna()

,order_id,customer_id,restaurant_name,cuisine_type,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,Hangawi,Korean,30.75,Weekend,Not given,25,20
1,1477685,358141,Blue Ribbon Sushi Izakaya,Japanese,12.08,Weekend,Not given,25,23
2,1477070,66393,Cafe Habana,Mexican,12.23,Weekday,5,23,28
3,1477334,106968,Blue Ribbon Fried Chicken,American,29.20,Weekend,3,25,15
4,1478249,76942,Dirty Bird to Go,American,11.59,Weekday,4,25,24
...,...,...,...,...,...,...,...,...,...
1893,1476701,292602,Chipotle Mexican Grill $1.99 Delivery,Mexican,22.31,Weekend,5,31,17
1894,1477421,397537,The Smile,American,12.18,Weekend,5,31,19
1895,1477819,35309,Blue Ribbon Sushi,Japanese,25.22,Weekday,Not given,31,24
1896,1477513,64151,Jack's Wife Freda,Mediterranean,12.18,Weekday,5,23,31
1897,1478056,120353,Blue Ribbon Sushi,Japanese,19.45,Weekend,Not given,28,24

In [7]:
# Current Size is 1898 observations, 9 columns, I need to clean first to see the potential rows. renaming rows rn
food_orders.columns

Index(['order_id', 'customer_id', 'restaurant_name', 'cuisine_type',
       'cost_of_the_order', 'day_of_the_week', 'rating',
       'food_preparation_time', 'delivery_time'],
      dtype='object')

In [8]:
drop_cols = ['restaurant_name', 'cuisine_type']
food_orders = food_orders.drop(columns = drop_cols)
food_orders

,order_id,customer_id,cost_of_the_order,day_of_the_week,rating,food_preparation_time,delivery_time
0,1477147,337525,30.75,Weekend,Not given,25,20
1,1477685,358141,12.08,Weekend,Not given,25,23
2,1477070,66393,12.23,Weekday,5,23,28
3,1477334,106968,29.20,Weekend,3,25,15
4,1478249,76942,11.59,Weekday,4,25,24
...,...,...,...,...,...,...,...
1893,1476701,292602,22.31,Weekend,5,31,17
1894,1477421,397537,12.18,Weekend,5,31,19
1895,1477819,35309,25.22,Weekday,Not given,31,24
1896,1477513,64151,12.18,Weekday,5,23,31
1897,1478056,120353,19.45,Weekend,Not given,28,24

In [9]:
rename_cols = {
    'cost_of_the_order': 'order_cost',
    'day_of_the_week': 'day_type',
    'food_preparation_time': 'prep_time',
    'delivery_time': 'delivery_time',
    'customer_id': 'customer_id',
    'order_id': 'order_id',
    'rating': 'rating'
}
food_orders = food_orders.rename(columns = rename_cols)

In [10]:
food_orders = food_orders.set_index('order_id')

In [11]:
food_orders

,customer_id,order_cost,day_type,rating,prep_time,delivery_time
order_id,,,,,,
1477147,337525,30.75,Weekend,Not given,25,20
1477685,358141,12.08,Weekend,Not given,25,23
1477070,66393,12.23,Weekday,5,23,28
1477334,106968,29.20,Weekend,3,25,15
1478249,76942,11.59,Weekday,4,25,24
...,...,...,...,...,...,...
1476701,292602,22.31,Weekend,5,31,17
1477421,397537,12.18,Weekend,5,31,19
1477819,35309,25.22,Weekday,Not given,31,24
1477513,64151,12.18,Weekday,5,23,31
1478056,120353,19.45,Weekend,Not given,28,24

In [12]:
given = ['3','4','5']
food_orders['rating_given'] = food_orders['rating'].apply(
    lambda x: True if x != 'Not given' else False
)
# Added new column of rating_given and then organized it
food_orders.insert(
    food_orders.columns.get_loc('rating') + 1,
    'rating_given',
    food_orders.pop('rating_given')
)
food_orders

,customer_id,order_cost,day_type,rating,rating_given,prep_time,delivery_time
order_id,,,,,,,
1477147,337525,30.75,Weekend,Not given,False,25,20
1477685,358141,12.08,Weekend,Not given,False,25,23
1477070,66393,12.23,Weekday,5,True,23,28
1477334,106968,29.20,Weekend,3,True,25,15
1478249,76942,11.59,Weekday,4,True,25,24
...,...,...,...,...,...,...,...
1476701,292602,22.31,Weekend,5,True,31,17
1477421,397537,12.18,Weekend,5,True,31,19
1477819,35309,25.22,Weekday,Not given,False,31,24
1477513,64151,12.18,Weekday,5,True,23,31
1478056,120353,19.45,Weekend,Not given,False,28,24

In [13]:
weekend = food_orders[food_orders['day_type'] == 'Weekend']
not_weekend = food_orders[food_orders['day_type'] == 'Weekday']
week

In [14]:
food_orders.dtypes
# Data Types are good

customer_id        int64
order_cost       float64
day_type          object
rating            object
rating_given        bool
prep_time          int64
delivery_time      int64
dtype: object

### Dataset #2 

See instructions above for Dataset #1.  Feel free to keep adding as many more datasets as you need.  Put each new dataset in its own section just like these. 

Lastly if you do have multiple datasets, add another section where you demonstrate how you will join, align, cross-reference or whatever to combine data from the different datasets

Please note that you can always keep adding more datasets in the future if these datasets you turn in for the checkpoint aren't sufficient.  The goal here is demonstrate that you can obtain and wrangle data.  You are not tied down to only use what you turn in right now.

In [15]:
## YOUR CODE TO LOAD/CLEAN/TIDY/WRANGLE THE DATA GOES HERE

## Ethics

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Team Expectations

Instructions: REPLACE the contents of this cell with your work, including any updates to recover points lost in your proposal feedback

## Project Timeline Proposal

Instructions: Replace this with your timeline.  **PLEASE UPDATE your Timeline!** No battle plan survives contact with the enemy, so make sure we understand how your plans have changed.  Also if you have lost points on the previous checkpoint fix them